{% extends '::base.html.twig' %}

{% block body -%}
    <div class="section clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <fieldset>
                        <legend>Create a new Project / Conference</legend>
                        {{ form_start(form, {'attr':{'class':'form-horizontal','role':'form'} }) }}
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <div class="form-group">
                                    <label for="projconfname" class="col-md-4 control-label">Name
                                        <small class="text-default">*</small>
                                    </label>

                                    <div class="col-md-8">
                                        {{ form_widget(form.name,{'attr':{'class':'form-control'} }) }}
                                        {{ form_errors(form.name) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="projconfdesc" class="col-md-4 control-label">Description
                                        <small class="text-default">*</small>
                                    </label>

                                    <div class="col-md-8">
                                        {{ form_widget(form.des,{'attr':{'class':'form-control'} }) }}
                                        {{ form_errors(form.des) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="projconfurl" class="col-md-4 control-label">Website
                                        <small class="text-default">*</small>
                                    </label>

                                    <div class="col-md-8">
                                        {{ form_widget(form.url,{'attr':{'class':'form-control'} }) }}
                                        {{ form_errors(form.url) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group pull-right">
                        <input type="submit" class="btn btn-default" value="Confirm">
                        <input type="reset" class="btn btn-gray" value="Reset">
                    </div>
                    {{ form_widget(form._token) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
